VITE_GID_CLIENT_ID=2arj0uljj696sqjff07eadspef
VITE_GID_CALLBACK_URI=https://bct-tpe.github.io/gid-client-iframe-demo/auth/callback
VITE_GID_TOKEN_ENDPOINT=https://giant-id-staging-auth.gid.giantcycling.com/oauth2/token
