VITE_GID_CLIENT_ID=3tddp22horis0i6p5ippfrh57m
VITE_GID_CALLBACK_URI=https://bct-tpe.github.io/gid-client-iframe-demo/auth/callback
VITE_GID_TOKEN_ENDPOINT=https://giant-id-staging-auth.gid.giantcycling.com/oauth2/token
